<h1>Hello, world!</h1>

<% if user_signed_in? %>
  <p>Logged in as <%= current_user.email %></p>
<% end %>


<%= render 'widgets/stock' %>
<%= render 'widgets/alarm' %>
<%= render 'widgets/newsitem' %>
<%= render 'widgets/weather' %>
<%= render 'widgets/music' %>
