<% if @user.widgets.length == 0 %>
<center>
    <h1>Add a Widget</h1>
    <div data-toggle="modal" data-target="#myModal"><i class="fa fa-cloud fa-5x"></i></div>
</center>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-black" id="myModalLabel">Hello!</h4>
      </div>
      <div class="modal-body text-black">
        To add widgets, use the drop down menu in the sidebar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% else %>

<div class="gridster" id="user-widget-list">
<ul>
    <% @user.widgets.each do |widget| %>
        <% if widget.name == "weather" %>
            <li id="widget-box-weather" data-col="1" data-row="1" data-sizex="3" data-sizey="2" data-id="<%=widget.id %>" style="background-color: #001013">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> WEATHER</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "stock" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: #02343D">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> STOCKS</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "alarm" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="1" data-id="<%=widget.id %>" style="background-color: #5B8890">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> ALARM</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "music" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="4" data-id="<%=widget.id %>" style="background-color: #C7D1D3">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> SPOTIFY</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "newsitem" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: #001013">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> NEWS</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "basketball" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="2" data-id="<%=widget.id %>" style="background-color: #02343D">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> BASKETBALL</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "football" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="6" data-id="<%=widget.id %>" style="background-color: #5B8890">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> FOOTBALL</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "clock" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="9" data-sizey="2" data-id="<%=widget.id %>" style="background-color: #f3f3f3">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> CLOCK</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "smiley" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="1" data-sizey="1" data-id="<%=widget.id %>" style="background-color: #f3f3f3">
                <%= link_to '<button type="button">X</button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <div id="smiley-div">
                <%= render "widgets/#{widget.name}" %>
                </div>
        <% elsif widget.name == "video" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: #001013">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> ANIMALS</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}", locals: {video_link: @video_link} %>
            </li>
        <% elsif widget.name == "recipe" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: #02343D">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> RECIPES</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}", locals: {video_link: @video_link} %>
            </li>

        <% elsif widget.name == "bart" %>
            <li id="bart-box" data-col="1" data-row="1" data-sizex="3" data-sizey="4" data-id="<%=widget.id %>"style="background-color:black"><%= link_to '<button type="button"><i class="fa fa-trash-o"> BART</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>   <%= render "bart/form" %>  <br><center><div id="bart-box-box">Submit your search to plan your trip!</div></center></li>

        <% elsif widget.name == "wotd" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="2" data-id="<%=widget.id %>" style="background-color: #5B8890">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> Word of the Day</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "urbanwotd" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: black">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> Urban WotD</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "joke" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="2" data-id="<%=widget.id %>" style="background-color: #001013">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> JOKE</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}" %>
            </li>
        <% elsif widget.name == "tswift" %>
            <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>" style="background-color: #001013">
                <%= link_to '<button type="button"><i class="fa fa-trash-o"> TSWIFT</i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>
                <%= render "widgets/#{widget.name}", locals: {video_link: @video_link} %>
            </li>
        <% else %>
        <h1> <%= widget.name %> </h1>
        <li id="widget-box" data-col="1" data-row="1" data-sizex="3" data-sizey="3" data-id="<%=widget.id %>"><%= link_to '<button type="button"><i class="fa fa-trash-o"></i></button>'.html_safe, "/widgets/#{widget.id}", method: :delete, :remote => true %>   <%= render "widgets/#{widget.name}" %></li>
        <% end %>
    <% end %>

</ul>


<script>
    $('.gridster ul').gridster({
        widget_margins: [5,5], //10px margins
        widget_base_dimensions: [100,100] //100px width/height
    })

</script>

<center>
     <a href="#menu-toggle" class="btn btn-primary btn-lg" id="menu-toggle">Toggle Menu</a>
     <%= link_to '<span class="btn btn-danger btn-lg">Delete All Widgets</span>'.html_safe, "/users/#{@user.id}/widgets", method: :delete, data: {confirm: 'Fosho?'} %>
</center>

   <script>
   $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
   </script>
<% end %>
