<center><div class="logo">
  <i class="fa fa-cloud fa-5x"> Sign Up</i>
</div>

<div class="login-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <span class="text-black"><%= f.email_field :email, autofocus: true %></span>
  </div>

  <div class="field" style="margin-top: 5px">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <span class="text-black"><%= f.password_field :password, autocomplete: "off" %></span>
  </div>

  <div class="field" style="margin-top: 5px">
    <%= f.label :password_confirmation %><br />
    <span class="text-black"><%= f.password_field :password_confirmation, autocomplete: "off" %></span>
  </div>

  <div class="actions" style="margin-top: 5px">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</center>